::-webkit-scrollbar{
    width: .5rem;
}

::-webkit-scrollbar-track{
    background-color: #F0F0F0;
}

::-webkit-scrollbar-thumb{
    background-color: #CDCDCD;
    border-radius: .5rem;
}
/*the above is for chrome, safari, edge, etc*/

*{
    /*this is for firefox*/
    scrollbar-width: thin;
    scrollbar-color: #CDCDCD #F0F0F0;
}
